<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pedometer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DBE1D7941F5FF34500C5D701</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBE1D7AB1F5FF34600C5D701</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBE1D7B61F5FF34600C5D701</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
